h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 1rem;
}

figure {
    margin: 0;
}

pre {
    overflow-x: auto;
    border-radius: var(--mantine-radius-sm);
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-xs);
}

span[data-highlighted-line] {
    border-bottom-color: rgb(147 51 234);
    background-color: #6b21a880;
    font-weight: 700;
    color: rgb(233 213 255)!important;
}

code {
    counter-reset: line;
    font-size: calc(.8125rem*var(--mantine-scale));
}

code>[data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 1.5rem;
    text-align: right;
    color: gray;
}

code[data-line-numbers-max-digits='2']>[data-line]::before {
    width: 2rem;
}

code[data-line-numbers-max-digits='3']>[data-line]::before {
    width: 3rem;
}

img {
    width: 100%;
    height: auto;
    border: 2px solid var(--mantine-color-gray-2);
}

.doc-form-example {
    border-radius: var(--mantine-radius-sm);
    border: 2px solid var(--mantine-color-gray-2);
    padding: var(--mantine-spacing-sm);
}